<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p	%c []	- %m%n" />
      </layout>
    </appender>
    <appender name="TelnetAppender" type="log4net.Appender.TelnetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p	%c []	- %m%n" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">;
			<file value="${NICEINFORMLOG}\\InformClientLog.txt" /><appendToFile value="true" /><maximumFileSize value="100KB" /><maxSizeRollBackups value="5" /><param name="RollingStyle" value="Size" /><layout type="log4net.Layout.PatternLayout"><param name="ConversionPattern" value="%d [%t] %-5p	%c []	- %m%n" /></layout></appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="TraceAppender" />
    </root>
    <!-- Settings for the loggers for each class that uses its own logger. -->
    <!-- The level value can be changed to DEBUG to show all logging info for that class. -->
    <!-- Level values are DEBUG, INFO, WARN, ERROR -->
    <!-- <logger name="Nice.Inform.Client.Reconstruction.Controller."> -->
    <!-- <level value = "INFO"/> -->
    <!-- </logger> -->
  </log4net>
  <!-- Adding NiceVision folder to search path to enable stdole.dll to found -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="NiceVision"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- User application and configured property settings go here.-->
    <!-- Example: <add key="settingName" value="settingValue"/> -->
    <!-- <add key = "host" value="192.168.45.140" /> forces the client to get its interfaces from defined location -->
    <!-- <add key = "culture" value="fr-FR"/> forces the client to use the specified culture (or locale)-->
    <!-- <add key = "uiCulture" value="fr-FR"/> forces the client to use the specified UIculture (or language)-->
    <!-- <add key = "defaultUser" value="somename"/> defines the user name used to login if the login form is double clicked in a debug build. -->
    <!-- <add key = "defaultPassword" value = "somepassword"/> defines the password used to login if the login form is double clicked in a debug build. -->
    <!-- <add key = "SpokenDateTimeLanguage" value="someLanguage"/> Defines the language for spoken date time announcements (English,French,German,Spanish or Polish). -->
    <!-- <add key = "AllowMultipleInstances" value = "YES/NO"/> Defines whether multiple versions of Inform can be run on the client (TEST ONLY). -->
    <!-- <add key = "AudioCallbackMode" value="Window"/> If value=Window audio will be called back through Windows message queue (the new default), for old behaviour set as "Function" callback -->
    <!-- <add key = "AudioPlaybackLatency" value="300"/> Audio Playback latency in milliseconds suggested values = 200 or 300 -->
    <!-- <add key = "port" value="8086"/> Allow server/client port to be change - not server port must match or server/client communication will fail-->
    <!-- <add key = "defaultUser" value="informuser"/>-->
    <!-- <add key = "defaultPassword" value="informuser"/>-->
    <!-- <add key = "SpokenDateTimeLanguage" value="English"/>-->
    <!-- <add key = "AllowMultipleInstances" value="No"/>-->
    <!-- <add key = "helpTCPPort" value="8088"/>-->
    <!--<add key = "culture" value="zh-CN"/>
        <add key = "uiCulture" value="zh-CN"/>
        <add key = "culture" value="fr-FR"/>
        <add key = "uiCulture" value="fr-FR"/>
        <add key = "culture" value="it-IT"/>
        <add key = "uiCulture" value="it-IT"/>
        <add key = "culture" value="es-ES"/>
        <add key = "uiCulture" value="es-ES"/>
        <add key = "culture" value="de-DE"/>
        <add key = "uiCulture" value="de-DE"/>
    	  <add key = "culture" value="he-IL"/>
    	  <add key = "uiCulture" value="he-IL"/>
        <add key = "culture" value="pl-PL"/>
    	  <add key = "uiCulture" value="pl-PL"/>
        <add key = "culture" value="ru-RU"/>
    	  <add key = "uiCulture" value="ru-RU"/>-->

    <!-- This is named for backward's compatibility's sake, but it actually, stores the two letter culture codes of languages that use non-latin character sets. -->
    <add key="EastAsianCulture" value="zh,he" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>